.header {
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	color: #333;
}
.header_logo img {
	max-width: 48px;
	max-height: 48px;
}

.header_name {
	font-family: "Lilita One", sans-serif;
	font-size: 35px;
}

.header_name h1 {
	color: #333;
}

.header_options {
	font-size: 20px;
	display: flex;
	padding-right: 10px;
	gap: 10px;
}

@media (max-width: 769px) {
	.user_name {
		display: none;
	}
}
